<div fxLayout="column" fxLayoutAlign="center center">

  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>
        <h1>To help King Shan, You need to</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h2>select 4 planets to search (out of the total 6)</h2>
      <h2>select which space vehicles to send to these planets</h2>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="find()" mat-raised-button color="primary" class="find-btn"> Find Al Falcone </button>
    </mat-card-actions>
  </mat-card>



</div>
