.logo-img {
  width: 150px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2),
    0 0 10px 0 rgba(0, 0, 0, .35);
}

.content-div {
  margin: 20px 0px;
  text-align: center;
  font-size: 23px;
  line-height: 2;
}

.next-arrow-btn {
  width: 300px;
  height: 55px;
}
